html{margin: 0;
padding: 0;
min-width: 1210px;
min-height: 3151px;
}
body {
margin:0;
padding:0;
min-width: 1210px;
min-height: 3151px;
font-family:"Cuprum", Arial, sans-serif;
font-size:14px;
line-height:18px;
color:#000000;
background-color:#ffffff;
}
.top-panel{
  width: 1200px;
  min-height: 42px;
  background-color: #293449;
  margin-bottom: 48px;
}
main.container-catalog{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
}
a {
text-decoration:none;
}
em {text-align: left;
  font-family: "Cuprum Italic", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  color:#ee3643;
}
.main-header{
  min-height: 278px;
background-color: #f3f7f8;
}

a.phone{
  font-size: 21px;
  line-height: 25px;
  color: #e9292a;
  border: solid 2px #ffffff;
  background-color: #f1f5f7;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 74px;
  padding-right: 45px;
}
p.address{
  font-size: 14px;
  line-height: 24px;
  color: #32425c;

}
.main-navigation {
font-size:17px;
line-height:17px;
color:#ffffff;
background-color:#32425c;
}
a.main-header-logotype{ display:block;
  font-family: "Cuprum", Arial,sans-serif;
  font-size: 24px;
  line-height: 28px;
  width: 220px;
  height: 42px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin: 0;
  background-color: #ee3643;
  cursor: pointer;

}
a.main-header-logotype:hover
a.main-header-logotype:focus{
background-color:#ca2c37;
}
a.main-header-logotype:active{
background-color:#ba2732;
}
.site-navigation,
.link-registration,
.usernav-int,
.product-item-img,
.option,
.footer-item-nav,
.footer-item-service,
.social-networks {
list-style:none;
}
li.main-navigation{
  background-color: #32425c;
}

.main-navigation a {
  color:#ffffff;
}
.main-navigation a:hover,
.main-navigation a:focus{
  background-color: #293449;
}
.main-navigation a:active{
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}
.user-navigation {
background-color:#f3f7f8;
color:#000000;
border:none;
}
.call{
  margin: 0;
  padding: 0;
}
.link-item a{
  font-size:21px;
  line-height:21px;
  background-color:#ffffff;
  color:#000000;
}
.link-item a:hover,
.link-item a:focus{
color:#ee3643;
}
.link-item a:active{
  color:#b2b2b2;
background-color:#dbdbdb;
}

.usernav-int {
font-size:17px;
line-height:18px;
background-color:#293449
color:#ffffff;
}
li.bookmark-cart{
  width: 140px;
}
li.checkout{
  width: 150px;
}
.bookmark-cart a{
font-size:17px;
line-height:18px;
color:#ffffff;}
#search-product{
  font-size: 17px;
  line-height: 18px;
  margin-left: 0;
  background-color: #293449;
  color: #000000;
  width: 270px;
  border: none;

}
#search-product:hover,
#search-product:focus{
  background-color: #ffffff;
}
.bookmark-cart a:hover{
background-color:#212a3a;
}
.bookmark-cart a:focus{
background-color:#212a3a;
}
.bookmark-cart a:active{
background-color:#161d29;
color:#8b8e94;
}

.checkout a {
  color:#ffffff;
background-color:#63a63e;

}
.checkout a:hover{
background-color:#5fbb2d;
}
.checkout a:focus{
background-color:#5fbb2d;
}
.checkout a:active{
background:#518534;
}
div.service-item{
  width: 300px;

}
.service-item a {
font-size:14px;
line-height: 18px;
background-color: rgba(255, 255, 255, 0.1);
color:#ffffff;
border: solid 1px rgba(255, 255, 255, 0.1);
text-transform:uppercase;
text-align: center;
}

h3.turn {
font-size:24px;
line-height:30px;
text-transform: uppercase;
color:#ffffff;

}
div.materials{
  background-color: #ffbf47;
}
div.instruments{
  background-color: #3bbce3;
}
div.equipment{
  background-color: #dc91d8;
}
div.sales{
  background-color: #8ed78f;
}
div.deleve{
  background-color: #ffc047;
}
.newflag{display: none;
position: absolute;
}
.service-item a:hover,
.service-item a:focus{
background-color:rgba(0, 0, 0, 0.2);
}
.service-item a:active{
background-color:(0, 0, 0, 0.3);
}
.slider{
  width: 620px;
}
.slide2{
  display: none;
}
h3.slaider-name{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  color: #ffffff;
}
p.slider-comment{
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
div.title-slide{display: none
  width: 620px;
  background-color: rgba(255, 255, 255, 0.25);
  color: #ffffff;
}

.slide-catalog a,
.popular-item a,
a.all-brand,
.about a,
.modal a{
background-color:#ee3643;
color:#ffffff;
text-transform: uppercase;
}
.modal a:hover,
.modal a:focus,
.slide-catalog a:hover,
.popular-item a:hover,
a.all-brand:hover,
.about a:hover,
a.credit-orders:hover,
.popular-item a:focus,
a.all-brand:focus,
.about a:focus
a.credit-orders:focus{
background-color:#ca2c37;
}
.modal a:active,
.slide-catalog a:active,
.popular-product a:active,
a.all-brand:active,
.about a:active,
a.credit-orders:active{
background-color:#ba2732;
}
h2.popular{
font-family:"Cuprum", Arial, sans-serif;
font-size:30px;
line-height:35px;
background-color:#f9f5f0;
color:#32425c;
text-transform:uppercase;
}

h1.page-title{
font-family:"Cuprum", Arial, sans-serif;
font-size:30px;
line-height:35px;
background-color:#f2f6f8;
color:#32425c;
text-transform:uppercase;
}
li.item-price{
font-family:"PT Sans", Arial, sans-serif;
font-size:18px;
line-height:20px;
text-align:center;
padding: 0;
width: 220px;
min-height: 318px;
border: 1px solid #eaeaea;
}
.price-old{
font-size:17px;
text-decoration:line-through;
color:#a9a9a9;
}
.price-new{
font-size:17px;
color:#ffffff;
background-color:#ee3643;
}
/*li.item-price:hover{

}*/
div.brand{
background-color :#ffffff;
border: solid 1px #eaeaea;
width: 220px;
height: 145px;
}
div.brand:hover,
div.brand:focus{
  background-color: #ffffff;
  border: none;
box-shadow: 0 0 25px rgba(0,0,0,0.5);
}
div.brand:active{
box-shadow:0 0 5px rgba(0,0,0,0.5);
}
.service{
background-color:#f4f7f9;
}
.service>h2,
.about>h2,
.modal>h2,
.svc {
  font-family: "Cuprum", Arial, sans-serif;
font-size:30px;
line-height:35px;
font-weight: 400;
color:#000000;
text-transform:uppercase;
}
p.ad,
p.expos{
  font-family: "Cuprum", Arial, sans-serif;
font-size:13px;
line-height: 24px;
font-weight: 700;
color:#212121;
}
h3.list{
font-size:36px;
line-height:42px;
color:#32425c;

}
span.button-service{
font-family: "Cuprum Bold", Arial, sans-serif;
font-size:21px;
line-height:30px;
background-color:#32425c;
color:#ffffff;
text-align:middle;
cursor: pointer;
}
span.button-service:hover,
span.button-service:focus{
background-color:#293449;
}
span.button-service:active{
background-color:#ffffff;
color:#32425c;
border:none;
}
 a.credit-orders{
  font-size: 14px;
  line-height: 18px;
  background-color: #ff5357;
  color: #ffffff;
}
li.delevery-list{
  font-size: 18px;
  line-height: 20px;
}

.main-footer{
font-size:18px;
line-height:24px;
background-color:#32425c;
color:#ffffff;
}
.footer-item-nav a{
  color: #ffffff;
}
.footer-item-nav a:hover,
.footer-item-nav a:focus{
text-decoration:underline;
}
.footer-item-nav a:active{
text-decoration:none;
color:#8c96a5;
}
p.footer-contacts{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color:#ffffff;
}
.footer-contacts a{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color:#ffffff;

}
.footer-down{
  background-color: #293449;
}
.footer-network{
  font-size: 16px;
  line-height: 18px;
}
.footer-network a,
.foot-list-service a{
color:#ffd180;
}
.footer-info a:hover,
.footer-info a:focus,
.footer-network a:hover,
.footer-network a:focus,
.foot-list-service a:hover,
.foot-list-service a:focus{
text-decoration:underline;
}
.footer-info a:active,
.footer-network a:active{
  color: #ee3643;
  text-decoration: none;
}
.foot-list-service a:active{
text-decoration:none;
color:#92856d;
}
p.footer-copiright{
font-size:16px;
line-height:18px;
}
.social-button a{border:solid 1px;
background-color: #000000;
}
.social-button a:hover,
.social-button a:focus,
.social-button a:active{
background-color: #ee3643;
border:none;
}
p.footer-copiright{
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}
p.footer-info{
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}
.feedback label{
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.feedback input[type="text"],
.feedback textarea{
  font-size: 13px;
  line-height: 18px;
  border: solid 1px #a9a9a9;
  color: #a9a9a9;
}
.feedback fieldset{
  width: 620px;
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border: none;
}
.feedback input[type="submit"]{
  font-size: 14px;
  line-height: 18px;
  color:#ffffff;
  background-color: #ee3643;
  text-align: center;
  text-transform: uppercase;
  border:none;
}
.btn-feedback{
  width: 620px;
  height: 112px;
  background-color: #f4f4f4;
}
.feedback input[type="text"]:hover,
.feedback textarea:hover,
.feedback input[type="submit"]:hover{
  border-color: #b5b5b5;
}
.feedback input[type="text"]:focus,
.feedback textarea:focus,
.feedback input[type="submit"]:focus{
border:solid 2px;
  border-color: #ee3643;
}/*две рамки получается*/
.dataname{
  position:absolute;
  margin-top: 55px;
  margin-left: 80px;
}
.datamail{
  position: absolute;
  margin-top: 55px;
  margin-right: 80px;
}
.modal-close{
position: absolute;
margin-top: 0px;
margin-right: 0px;
}
.breadcrumbs,
.chekbox-block,
.radiobtn,
.sorting-item,
.pagination-list{
  list-style: none;
}
.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
h2.filters-item{
  font:inherit;
  background-color: #f7f3ec;
}
legend{
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
fieldset{
  border: 1px solid #e5e5e5;
  border-top: none;
  border-right: none;
  border-left: none;
}
.battery{
  border:none;
}

.chekbox-block label,
.radiobtn label{
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}
.sorting{
  background-color: #f7f3ec;
}
.sorting a{
  font-size: 13px;
  line-height: 18px;
  color: #acaaa5;
  border-bottom: dashed 1px #acaaa5;
}
.sorting a:hover,
.sorting a:focus{
  color:#000000;
  border-bottom: dashed 1px #ee3643;
}
.sorting a:active{
  color:#f0515c;
  border:none;
}
.pagination-item a{
  font-size: 13px;
  line-height: 18px;
  color: #acaaa5;
  border: solid 1px;
  border-radius: 2px;
}
.pagination-item-curent a{
  color: #ffffff;
  background-color: #ee3643;
}

.next-page a{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  color:#000000;
  background-color: #ffffff;
  border: solid 1px;
  border-color: #acaaa5;
  border-radius: 2px;
  text-transform: uppercase;
}
.pagination-item a:hover,
.pagination-list a:focus,
.next-page a:hover,
.next-page a:focus{
  border-color: #bdc6ca;
}
.pagination-item a:active,
.pagination-item a:active,
.next-page a:active,
.next-page a:active{
  border-color: #ee3643;
}
h2.information-list{
font-family: "Cuprum", Arial, sans-serif;
font-size: 30px;
line-height: 35px;
text-transform: uppercase;
}
p.information-list-range{
  font-family: "Cuprum", Arial, sans-serif;
font-size:13px;
line-height: 24px;
font-weight: 700;
}
article.information{
  background-color: #f2f6f8;
}
.visually-hidden{display:none;}

.top-panel-conteiner{
  display: flex;
  width: 940px;
  justify-content: space-between;
  margin-left: 130px;
  margin-right: 130px;
}
.usernav-int{
  display: flex;
  width: 720px;
  justify-content: space-between;
  align-content: center;

}
.user-information{
  display: flex;
  width: 940px;
  justify-content: space-between;
  margin-left: 130px;
  margin-right: 130px;
  min-height: 158px;
}
.call{
  display: flex;
  width: 620px;
  margin: auto;
  justify-content: space-between;

}
.market{
  margin-left: 50px;
  width: 300px;
}
.calling{
  width: 300px;

}
.link-registration{
  display:flex;
  width: 300px;
  justify-content: space-between;
}
.site-navigation{
  display: flex;
  justify-content: space-between;
  width: 940px;
  min-height: 60px;
  margin-left: 130px;
  margin-right: 130px;
  margin-bottom: 60px;

}
.service-flex{
  display: flex;
  flex-direction: row;
  width: 940px;
  margin-left: 130px;
  margin-right:130px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 61px;
}
.popular-item{display: flex;
  justify-content: space-between;
  min-height: 90px;
  background-color: #f9f5f0;
  width: 940px;
  margin-left: 130px;
  margin-right: 130px;
  margin-bottom: 24px;
}
.product-item-img{
display: flex;
justify-content: space-between;
width: 940px;
margin-left: 130px;
margin-right: 130px;
padding: 0;
}
.brand-logo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content:space-between;
  width: 940px;
  min-height: 311px;
  margin-left: 130px;
  margin-right: 130px;
  margin-bottom: 86px;
}
.service-header{
  width: 940px;
  margin-left: 130px;
}
.service-discription{
  display:flex;
  flex-direction: column;
  margin-left: 130px;
  margin-right: 130px;
  width: 940px;
  min-height: 182px;
}
.service{
  width: 940px;
  margin-right: 130px;
  margin-left: 130px;
  margin-bottom: 40px;
}
.service-list{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.about{
  display: flex;
  justify-content: space-between;
  width: 940px;
  min-height: 410px;
  margin-left: 130px;
  margin-right: 130px;
  padding:0;
}
.company{
  width: 540px;
}
.company-contact{
  width: 300px;
}
.footer-top{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 940px;
  min-height: 193px;
  margin-left: 130px;
  margin-right: 130px;
  margin-bottom: 0;
}
.foot-logo{
  width:322px;
  min-height: 193px;

}
.foot-list{
  display:flex;
  flex-direction: column;
  width: 549px;
}
.footer-item-nav{
  display: flex;
  justify-content: space-between;
}
.footer-item-service{
  display:flex;
  justify-content:space-between;
  margin-left: 12px;

}
